@font-face {
font-family: "AktivGrotesk";
src: url("https://alexandretomasmartins.github.io/thesaurapgenerator/fonts/AktivGrotesk_Lt.ttf");
}

@font-face {
font-family: "AktivGrotesk-Black";
src: url("../fonts/AktivGrotesk_Blk.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap');
