@font-face {
font-family: "Aktiv-Grotesk";
src: url("https://alexandretomasmartins.github.io/thesaurapgenerator/fonts/AktivGrotesk_Lt.ttf");
}

@font-face {
font-family: "Aleo";
src: url("https://alexandretomasmartins.github.io/thesaurapgenerator/fonts/Aleo-Bold.ttf");
}
